*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaço entre os botões */
}


.botao{
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}