*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.menu{
    width: 900px;
    margin: 30px auto;
    text-align: center;
    
}
a{
    color: blue;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    border-right: 3px solid black;
    padding-right: 8px;
}