*{
    margin: 0;
    padding:0 ;
    box-sizing: 0;

}
html, body{
    height: 100%;
}
.article{
    width: 40%;
    height: 200px;
    min-width: 50%;
    max-width: 95%;
    
    
    background-color: red;
    margin: 0 auto;
}
    
