*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.tipo1{
    color: rgb(100, 100,100);
}


a.link_{
    font-size: 60px;
}                                   /*Entendendo as prioridades do CSS */

.tipo2{
    font-size: 90px;
}

