body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10%;
    padding: 0;
    background-color: whitesmoke;
}

.container{
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    text-align:left;
}

h5{
    color: green;
}

h4{
    color: blue;
}
